@model WebUI.Models.Orders.OrderEditViewModel

@{
    ViewBag.Title = "Edit";
}
<h2>Zmiana statusu zamówienia</h2>

<div>
    <hr />
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th>Produkt</th>
            <th>Ilość</th>
            <th>Cena jednostkowa</th>
            <th>Rabat</th>
        </tr>

        @foreach (var item in @Model.Order.OrderDetail)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Quantity</td>
                <td>@string.Format("{0:C2}", item.UnitPrice)</td>
                <td>@string.Format("{0:P2}", item.UnitPriceDiscount)</td>
            </tr>
        }
        <tr class="info">
            <td><b>Razem</b></td>
            <td>@Model.Order.OrderDetail.Sum(x => x.Quantity)</td>
            <td>@string.Format("{0:C}", Model.Order.OrderDetail.Sum(x => x.UnitPrice))</td>
            <td></td>
        </tr>
    </table>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.OrderId)
        <div class="form-group">
            @Html.Label("Zmiana stausu zamówienia")
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.OrderStatus, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrderStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zapisz zmianę" class="btn btn-default" />
                @Html.ActionLink("Powrót do listy zakupów", "List", "Order", new { @class = "btn btn-default" })              
            </div>
        </div>
    </div>
}

<div>
    

</div>
