@model WebUI.Models.OrderListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Lista zamówień</h2>

<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>Data</th>
        <th>Adres Dostawy</th>
        <th>Status</th>
        <th>Komentarz</th>
        <th>Koszt</th>
        <th>Akcje</th>
    </tr>
    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>@item.CreationDate </td>
            <td>@item.ShipAddress </td>
            <td>@item.Status </td>
            <td>@item.Comment </td>
            <td>@item.TotalDue </td>
            <td>TODO Akcje</td>
        </tr>
    }
</table>

<div class="btn-group pull-right">
    @Html.PageLinks(Model.PaginInfo, x => Url.Action("List", new { page = x }))
</div>


