@model Domain.Entities.User

@{
    ViewBag.Title = "Sklep sportowy : wysyłka";
}

@using (Html.BeginForm(new { User = Model }))
{
    @Html.ValidationSummary()
<h3>Sprawdź dane do wysyłki i potwierdź zamówienie</h3>
<h5>@Model.UserDetail.FirstName @Model.UserDetail.LastName </h5>
<h5>@Model.UserDetail.City @Model.UserDetail.Zip </h5>
<h5>@Model.UserDetail.Street @Model.UserDetail.BuildingNr</h5>



    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Zakończ realizację zamówienia" />
    </div>
}

